<div class="ui attached segment">
  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" [src]="_user?.profile_image_url">
      <div class="header">
        <a [href]="'https://twitter.com/'+ _user?.screen_name" target="_blank">
          <b [innerHTML]="_user?.name"></b>
        </a>
      </div>
      <div class="meta" [innerHTML]="'@'+_user?.screen_name">
      </div>
      <div class="description" [innerHTML]="_user?.description"> </div>
    </div>
  </div>
</div>
