<div class="ui top attached header segment">
  Latest tweets
</div>
<app-selected-account [user]="_user"></app-selected-account>
<div class="ui attached segment tweet-list">

  <table class="ui very basic  compact table">
    <tbody>
      <tr *ngFor="let tweet of _tweets">
        <td>
          <i class="twitter blue icon"></i>
          <span [innerHTML]="tweet.text"></span>
          <a *ngIf="tweet.tweet_link" class="right icon link" [href]="tweet.tweet_link"> more</a>
        </td>
        <td class="right aligned disabled">
          <i class="clock dark icon"></i>
          <span [innerHTML]="tweet.created_at"></span>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div class="ui bottom attached header segment">
  <div class="ui primary small link button" (click)="loadMoreTweets($event)">Load more</div>
</div>
