<div class="ui stackable equal width grid">

  <div class="ui row">
    <div class="column">
      <h1 class="header">Web Developer Challenge</h1>
    </div>
  </div>

  <div class="ui two columns row">

    <div class="ui column" *ngFor="let subject of _subjects">
      <app-tweet-list [timelineData]="subject" (loadMore)="doMoreTweets($event)"></app-tweet-list>
    </div>
  </div>

</div>
