<div class="ui attached segment">
    <div class="ui mini fluid action input">
      <input type="text" value="http://ww.short.url/c0opq">
      <button class="ui primary right icon button">
        <i class="add icon"></i>
      </button>
    </div>
  </div>
